In [5]:
from pymol import cmd
import glob
import pandas as pd

In [6]:
tck_maes = glob.glob('/home/aguan/docking/docking52tcksXP088/glide-dock_XP_JJC8088_52tcks-000*_raw.mae')

In [7]:
gscore = []
title = []
for mae in tck_maes:
#     mae = '/home/aguan/docking/docking52tcksXP088/glide-dock_XP_JJC8088_52tcks-0001_raw.mae'
    with open(mae, 'r') as f:
        lines = f.readlines()
        bar = []
        gscore_i = []
        header = []
        title_i = []
        # Grab relevant line indexes
        for i in range(len(lines)):
            if "f_m_ct" in lines[i]:
                header.append(i)
            if ':::' in lines[i]:
                bar.append(i)
            if 'gscore' in lines[i]:
                gscore_i.append(i)
            if 'title' in lines[i]:
                title_i.append(i)

        # Grab gscore
        for i in range(len(header)):
            # Index of gscore relative to header line
            x = gscore_i[i] - header[i]
            # Index of bar/section separator immediately after current header line
            y = min(a for a in bar if a > header[i])

            gscore.append(float(lines[x+y]))

            # Index of compound name relative to header line
            x = title_i[i] - header[i]

            title.append(lines[x+y].replace("\n", "").replace(" ", ""))

In [8]:
data = {"Name":title, "gscore":gscore}
df = pd.DataFrame(data)
df

         Name     gscore
0    TCK-HP-2  -6.283326
1    TCK-HP-2  -9.081066
2    TCK-HP-2  -7.611693
3    TCK-HP-2  -8.778720
4    TCK-HP-2  -9.395036
..        ...        ...
324  TCK-2-78 -11.308140
325  TCK-2-78 -11.240848
326  TCK-2-78  -7.484071
327  TCK-2-80  -8.972515
328  TCK-2-80  -4.292258

[329 rows x 2 columns]